<a href="https://colab.research.google.com/github/Hysterical127/nathan_DTSC3020_Fall2025/blob/main/Assignment4_(ch_6)__(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [3]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:
lowest_grade = 999
for grade in set(grades.values()):
  if grade < lowest_grade:
    lowest_grade = grade

for k, v in grades.items():
  if v == lowest_grade:
    print(f"{k} has the lowest grade.")

Omid has the lowest grade.

Exercise 2: print names of students who registered for any course containing "Data"

In [37]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

# Write your code here:
data_class1 = 'Data Mining'
data_class2 = 'Data Science'
for k, v in courses.items():
  if (data_class1 in v) or (data_class2 in v):
    print(f"{k} is registered for a course about data")

Sara is registered for a course about data
Reza is registered for a course about data

Exercise 3: Print titles of books that are not available.

In [47]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:
for title, book in library.items():
  for k, v in book.items():
    if v == False:
      print(f"{title} is unavailable")

AI Basics is unavailable
Math Advanced is unavailable

Exercise 4: Print names of students who are registered for more than 2 courses.

In [55]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

# Write your code here:
for student, classes in registrations.items():
  course_load = 0
  for count in classes:
    course_load += 1
  if course_load > 2:
    print(f"{student} is registered to take more than 2 courses")

Sara is registered to take more than 2 courses
Lina is registered to take more than 2 courses

Exercise 5: Calculate and print the average grade of the class.

In [48]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:
total_points = 0
total_grades = 0
for k, v in grades.items():
  total_points += v
  total_grades += 1
average_grade = total_points / total_grades
print(average_grade)

18.1

Exercise 6: Count and print the number of students registered for "Python".

In [50]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
python_count = 0
search_class = 'Python'
for k, v in courses.items():
  if search_class in v:
    python_count += 1
    print(f"{k} is taking a python class")
print(f"{python_count} students are taking a python class")

Ali is taking a python class
Reza is taking a python class
Omid is taking a python class
3 students are taking a python class

Exercise 7: Print titles of books with more than 200 pages.

In [51]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


# write your answer here
for k, v in book_pages.items():
  if v > 200:
    print(f"{k} has more than 200 pages")

AI Basics has more than 200 pages
Math Advanced has more than 200 pages
Data Science has more than 200 pages

Exercise 8: Print each student's name and number of registered courses.

In [54]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
for student, classes in courses.items():
  course_load = 0
  for count in classes:
    course_load += 1
  print(f"{student} is taking {course_load} course(s)")

Ali is taking 2 course(s)
Sara is taking 2 course(s)
Reza is taking 2 course(s)
Lina is taking 2 course(s)
Omid is taking 1 course(s)