<a href="https://colab.research.google.com/github/Hysterical127/nathan_DTSC3020_Fall2025/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
fruits = ['pineapple', 'banana', 'lemon']
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])

['pineapple', 'banana', 'lemon']
pineapple
banana
lemon

In [8]:
names = ["Nathan", "Eli", "Albert", "Kenneth"]
names[0] = "Adrian"
print(names)

['Adrian', 'Eli', 'Albert', 'Kenneth']

In [9]:
vehicles = ['car', 'bus', 'plane', 'truck', 'motorcycle']
vehicles.append('scooter')
print(vehicles)

['car', 'bus', 'plane', 'truck', 'motorcycle', 'scooter']

In [11]:
foods = ['pasta', 'hotdog', 'sandwich', 'oatmeal', 'salad', 'ramen']
foods.remove('salad')
print(foods)

['pasta', 'hotdog', 'sandwich', 'oatmeal', 'ramen']

In [15]:
cities = ['Austin', 'Denver', 'Cleveland', 'Honolulu']
cities.sort(reverse=True)
print(cities)

['Honolulu', 'Denver', 'Cleveland', 'Austin']

In [16]:
animals = ['dog', 'cat', 'bird']
for animal in animals:
  print(animal)

dog
cat
bird

In [21]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
  print(number*2)

2
4
6
8
10

In [20]:
friends = ['Eli', 'Ian', 'Albert', 'Adrian', 'Vince', 'Rob']
print(friends[0:3])
print(friends[3:56])

['Eli', 'Ian', 'Albert']
['Adrian', 'Vince', 'Rob']

In [22]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
squares = [value**2 for value in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]